

<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login-Trainer Form</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'invoice/css/styles.css' %}" />
    	<link rel="stylesheet" type="text/css" href="{% static 'invoice/css/bootstrap.css' %}"/>
	<script type="text/javascript" src="{% static 'invoice/js/bootstrap.min.js' %}"/></script>
	<script type="text/javascript" src="{% static 'invoice/js/jquery.min.js' %}"/></script>
	<script type="text/javascript" src="{% static 'invoice/js/popper.min.js' %}"/></script>
    <style>
        body {
  background-image: url("{% static 'invoice/images/bg3.jpg' %}");
  background-repeat: no-repeat;
  background-size: 1500px 750px;
}
    </style>
<script type="text/javascript" language="javascript">
history.forward(1)
function checkDate() {
  var startDate = new Date(document.getElementById('fdate').value);
  var endDate = new Date(document.getElementById('tdate').value);
  var today = new Date();
  if (startDate.getTime() < today.getTime()) {
    alert("Enter valid from date");
	document.getElementById('fdate').value='';
	}
  if (endDate.getTime() < startDate.getTime()) {
    alert("Enter valid to date");
	document.getElementById('tdate').value='';
	}
  }
</script>
</head>
<div class="container">
<div class="row">
<div class="col-lg-1">
    <form class="f1" action="logout" method="get">
        <input type="submit" value="Logout"/>
    </form></div>
    <div class="col-lg-5">
<br><br><br>
<br><br><br>
    <br><br><br><br><br>
<h3>WELCOME TO INVOICE GENERATOR!    </h3>
<br><br>
<h5>You are one click away from finding a trainer!</h5>
<h5>We inform the Trainer instantly!</h5>
</p>
</div>
<div class="col-lg-6">
<center>
<form action="store" method="POST">
    {% csrf_token %}
<img src="{% static 'invoice/images/logo.png' %}" alt="Invoice.jpg" height="100" width="20%"><h2>INVOICE GENERATOR</h2>
<br>
Name of College:
<select name="college" required>
    <option value="">--Select College--</option>
<option value="RNSIT">RNSIT</option>
<option value="JSS">JSS</option>
<option value="BMS">BMS</option>
<option value="SIT">SIT</option>
<option value="NITK">NITK</option>
<option value="MIT">MIT</option>
<option value="RV">RV</option>
<option value="NIE">NIE</option>
<option value="Sri Vidya">Sri Vidya</option>
<option value="SJBIT">SJBIT</option>
</select><br><br>
From Date:
<input type="date" name="fromdate" id="fdate"  required/><br><br>
To Date:
<input type="date" name="todate" id="tdate" required/><br><br>
Timings (Session):
<select name="session" required>
    <option value="">--Select Session--</option>
<option value="Morning">Morning</option>
<option value="Afternoon">Afternoon</option>
</select><br><br>
Mode:
<select name="mode" required>
    <option value="">--Select Mode--</option>
<option>Online</option>
<option>Offline</option>
</select><br><br>
Remuneration:
<input type="number"  name="fees" min="1000"  required/>
<br>
<br>
Trainer Name:
<select name="trainer" required>
<option value="">--Select Trainer--</option>
<option value="Megana">Megana</option>
<option value="Sowmya">Sowmya</option>
<option value="pushpa">Pushpa</option>
<option value="nagaraj">Nagaraj</option>
<option value="divya">Divya</option>
<option value="shashank">Shashank</option>
<option value="pallavi">Pallavi</option>
<option value="monish">Monish</option>
<option value="priyank">Priyank</option>
<option value="Teeka">Teeka</option>
<option value="Nisha">Nisha</option>
<option value="Nikhil">Nikhil</option>
    <option value="Sahana">Sahana</option>
    <option value="Tejaswini">Tejaswini</option>
</select><br>

<br>
<input type="submit" id="ip2"  name="submit" value="Submit" onclick="checkDate()"/>
<br>
<br>
    {{res}}
</form>
</center>
</div>
</div>
</div>
</html>